<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd">
	<context:component-scan base-package="com.excilys.cdb.dao"/>
	<context:component-scan base-package="com.excilys.cdb.dao.jdbc"/>
	<context:component-scan base-package="com.excilys.cdb.service"/>
	<context:component-scan base-package="com.excilys.cdb.servlet"/>
	
	<!-- Connection -->
	
	<bean id="datasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource" lazy-init="true">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/computer-database-db?zeroDateTimeBehavior=convertToNull" />
		<property name="username" value="admincdb" />
		<property name="password" value="qwerty1234" />
	</bean>
	
	<bean id="connectionFact" class="com.excilys.cdb.dao.jdbc.ConnectionFactory" scope="singleton">
		<property name="datasource" ref="datasource"/>
	</bean>
	
	<!-- DAO -->
	
	<bean id="computerDao" class="com.excilys.cdb.dao.ComputerDao" scope="singleton">
		<property name="connectionFact" ref="connectionFact"></property>
	</bean>
	<bean id="companyDao" class="com.excilys.cdb.dao.CompanyDao" scope="singleton">
		<property name="connectionFact" ref="connectionFact"></property>
	</bean>
	
	<!-- Service -->
	
	<bean id="servicecomputer" class="com.excilys.cdb.service.ServiceComputer">
 		<property name="computerDao" ref="computerDao"></property>
 	</bean>
 	
 	<bean id="servicecompany" class="com.excilys.cdb.service.ServiceCompany">
 		<property name="connectionFact" ref="connectionFact"></property>
		<property name="companyDao" ref="companyDao"></property>
		<property name="computerDao" ref="computerDao"></property>
 	</bean>
</beans>